@*@using StackExchange.Profiling;*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - File Loader Utility</title>
    <link href="~/favicon.ico?v2" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*@Styles.Render("~/Content/css")*@
    <link href="/Content/site.minified.css" rel="stylesheet" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" type="text/css" href="/Content/SiteIE8.css" />
    <![endif]-->
    <script type="text/javascript">
        var isTest = @((ViewBag.IsTest ?? false).ToString().ToLower());
    </script>
    @*@Scripts.Render("~/bundles/site")*@
    <script type="text/javascript" src="/scripts/site.minified.js"></script>
    <script type="text/javascript" src="/scripts/jtable/jquery.jtable.min.js"></script>
    @RenderSection("JavascriptImport", false)
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ddlConnection").chosen({ search_contains: true });
            $("#ddlConnection").change(function () {
                $.ajax({
                    type: "post",
                    url: "/Base/SetConnection",
                    data: {
                        connectionId: $(this).val()
                    },
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (response) {
                        window.location.href = "/";
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("Error communicating with server." + ((isTest) ? " Exception: " + thrownError : ""));
                    }
                });
            });
            if ($("#ddlConnection").val() == "") {
                $("#body :input").prop("disabled", true).trigger("liszt:updated");
                $("#body").off("click");
                $("#connectionForm").validationEngine("attach", {
                    prettySelect: true,
                    useSuffix: "_chzn",
                    promptPosition: "bottomLeft",
                    custom_error_messages: {
                        "#ddlConnection": {
                            "required": {
                                message: "<strong>Note:</strong> You must first select a database to connect to"
                            }
                        }
                    }
                });
                $("#connectionForm").validationEngine("validate");
            }
            $('.menu').dropit();
        });
    </script>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="logo">
                <a href="@Url.Action("Index", "Home")">
                    @*<img src="/content/images/logo.gif" />*@
                </a>
            </div>
            <div class="float-right">
            <form id="connectionForm" action="/">
                @Html.DropDownList("ddlConnection", (List<SelectListItem>)ViewBag.Connections, new { id = "ddlConnection", @class = "validate[required]" })
            </form>
            </div>
        </div>
        <div id="nav">
            <div id="menu">
                <div class="content-wrapper">
                    <ul class="menu">
                        <li @if (ViewBag.IsMenuUpload ?? false)
                            { 
                            @:class="current" 
                        }><a href="@Url.Action("Index", "Uploads")">File Upload</a>
                            @if (ViewBag.IsMenuUpload ?? false)
                            {
                                <img src="/content/images/arrow.png" class="arrow" height="12" width="24" alt="" />
                            }
                        </li>
                        <li @if (ViewBag.IsMenuMonitor ?? false)
                            { 
                                @:class="current middle" 
                            }
                            else
                            {
                                @:class="middle" 
                            }><a href="@Url.Action("Index", "Monitor")">Interface Monitor</a>
                            @if (ViewBag.IsMenuMonitor ?? false)
                            {
                                <img src="/content/images/arrow.png" class="arrow" height="12" width="24" alt="" />
                            }
                        </li>
                        <li @if (ViewBag.IsMenuUser ?? false)
                            { 
                            @:class="current" 
                        } class="parent"><a href="#" style="cursor: default;" onclick="return false;">@ViewBag.Access.Username</a>
                            @if (ViewBag.IsMenuUser ?? false)
                            {
                                <img src="/content/images/arrow.png" class="arrow" height="12" width="24" alt="" />
                            }
                            @if (ViewBag.IsSecure ?? false)
                            {
                                <ul>
                                    <li><a href="@Url.Action("SwitchUser", "User")">Switch User</a></li>
                                    @if (ViewBag.Access.IsImpersonating)
                                    {
                                        <li><a href="@Url.Action("Logoff", "User")">Logoff</a></li>
                                    }
                                </ul>
                            }
                        </li>
                    </ul>

                    <div class="user">
                        <div class="user-head"></div>
                        Connected to @((ViewBag.Connection == null) ? "N/A" : ViewBag.Connection.ConnectionName) as @ViewBag.User.UserName
                    </div>
                </div>
            </div>
        </div>
    </header>
    <br />
    <br />
    <div id="body">
        <section class="content-wrapper clear-fix">
            <h1>@ViewBag.Title</h1>
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <br />
                <br />
                &copy; Mars, Incorporated and its Affiliates. All Rights Reserved.
            </div>
        </div>
    </footer>
    @*@MiniProfiler.RenderIncludes()*@
</body>
</html>
