@model PlantWebService.TestSite.ViewModels.CancelGRProcessOrderViewModel
@{
    ViewBag.Title = "CancelGRProcessOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CancelGRProcessOrder", "Home", FormMethod.Post, new { id = "validationForm", @class = "form form-horizontal", enctype = "multipart/form-data", autocomplete = "off" }))
{
    <div class="container-fluid">
        <div class="row" id="title-row">
            <div class="col-xs-3">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="DisplayTypes" class="col-sm-4 control-label">Display Type</label>
                    <div class="col-sm-4">
                        @Html.DropDownList("DisplayTypes", null, null, new { name = "DisplayType", id = "DisplayType", style = "width:100%;", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="SystemKey" class="col-sm-4 control-label text-right">System Key</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.SystemKey, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="TransactionDate" class="col-sm-4 control-label text-right">Transaction Date</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.TransactionDate, new { @class = "form-control", placeholder = "yyyy-MM-ddTHH:mm:ss.ffffffzzz Eg. 2017-03-31T17:09:14.569237+11:00" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="SenderName" class="col-sm-4 control-label text-right">Sender Name</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.SenderName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="PalletCode" class="col-sm-4 control-label text-right">Pallet Code</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.PalletCode, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="UserID" class="col-sm-4 control-label text-right">User ID</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.UserID, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="" class="col-sm-4 control-label text-right"></label>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
