@model PlantWebService.TestSite.ViewModels.CreateScrapMaterialViewModel
@{
    ViewBag.Title = "CreateScrapMaterial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateScrapMaterial", "Home", FormMethod.Post, new { id = "validationForm", @class = "form form-horizontal", enctype = "multipart/form-data", autocomplete = "off" }))
{
    <div class="container-fluid">
        <div class="row" id="title-row">
            <div class="col-xs-3">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="DisplayTypes" class="col-sm-4 control-label">Display Type</label>
                    <div class="col-sm-4">
                        @Html.DropDownList("DisplayTypes", null, null, new { name = "DisplayType", id = "DisplayType", style = "width:100%;", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="SystemKey" class="col-sm-4 control-label text-right">System Key</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.SystemKey, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="TransactionDate" class="col-sm-4 control-label text-right">Transaction Date</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.TransactionDate, new { @class = "form-control", placeholder = "yyyy-MM-ddTHH:mm:ss.ffffffzzz Eg. 2017-03-31T17:09:14.569237+11:00" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="PlantCode" class="col-sm-4 control-label text-right">Plant Code</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.PlantCode, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="BatchCode" class="col-sm-4 control-label text-right">Batch Code</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.BatchCode, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="MaterialCode" class="col-sm-4 control-label text-right">Material Code</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.MaterialCode, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="Quantity" class="col-sm-4 control-label text-right">Quantity</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="Uom" class="col-sm-4 control-label text-right">UOM</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.Uom, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="StorageLocation" class="col-sm-4 control-label text-right">Storage Location</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.StorageLocation, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="ReasonCode" class="col-sm-4 control-label text-right">Reason Code</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(x => x.ReasonCode, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="" class="col-sm-4 control-label text-right"></label>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
