@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li>@Html.ActionLink("RetrieveProcessOrderList", "RetrieveProcessOrderList")</li>
    <li>@Html.ActionLink("RetrieveProcessOrder", "RetrieveProcessOrder")</li>
    <li>@Html.ActionLink("RetrieveMaterialBatchList", "RetrieveMaterialBatchList")</li>
    <li>@Html.ActionLink("RetrieveMarsCalendar", "RetrieveMarsCalendar")</li>
    <li>@Html.ActionLink("RetrieveMaterials", "RetrieveMaterials")</li>
    <li>@Html.ActionLink("RetrieveFactoryTransfers", "RetrieveFactoryTransfers")</li>
    <li>@Html.ActionLink("CreateGRProcessOrder", "CreateGRProcessOrder")</li>
</ul>